body{
    margin:0;
    background-color: rgb(120, 179, 202);
}

.Providential-learning h1{
    background: #a04f7b;
    margin-top:0;
    color:rgba(53, 206, 206, 0.74)
}

h3{
    color: dimgrey;
}

h3{
    color: dimgrey;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
   }

   .learn{
       position:relative;
       right: 10px;
   }

   .contact-section{
    background-image: url(images/mount.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}

.contact-section h1{
    text-align: center;
    color: rgb(6 95 90 / 71%);
}

.border{
    width: 400px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display:  block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background:#34495e; 
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.45s;
}

.contact-form-btn:hover{
    background: #2980b9;
}

.email{
    border: 0;
    background:#34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
}

.Phone{
    border: 0;
    background:#34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}